<!DOCTYPE html>
<html>
  <head>
    <title>FirstRailsApp495Test</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="background: black; color: aliceblue; padding: 16px;">
      <h3> NavBar </h3>
      <p>Now is <%= Time.now %><p>
    </div>
    <%= yield %>
  </body>
</html>
